:root {
    --primary-color: #235789;
    --secondary-color: #e0e0e0;
    --complimentory-color: #eb9966;
    --text-color: wheat;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header {
    font-size: medium;
    padding: 0%;
    margin: 0;
    text-align: center;
    color: var(--text-color);
    font-weight: 800;
    background-color: var(--primary-color);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure header is on top of other content */
}

#tagsContainer {
    padding: 1%;
    height: 50px;
    display: flex;
    flex-direction: row;
    overflow-x:scroll;

    position: fixed;
    top: 120px;
    left: 0;
    width: 100%;
    background-color: #f2f2f2; /* Set background color as needed
    z-index: 1000; /* Ensure tags container is on top of other content */
}

.tags {
    padding: 10px;
    background-color: var(--complimentory-color);
    font-weight: 900;
    text-transform: uppercase;
}

#quotesContainer {
    margin-top: 16%;
    text-align: justify;
}

.quoteCard {
    margin: 20px;
    padding: 2%;
    background-color: var(--secondary-color);
    text-align: justify;
    border: 1px solid;
    border-radius: 5% 5%;
}

.quoteText {
    font-weight: 550;
    /* background-color: aliceblue; */
}

.extraText {
    font-size: 13px;
}

.shareBtn {
    background-color: transparent;
    border: 0;
    font-size: larger;
}

#paginationContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#paginationContainer button {
    font-weight: 900;
    padding: 2%;
    background-color: transparent;
    border: 0.5px solid black;
    border-radius: 10px 10px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:last baseline;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header {
        font-size: small;
    }

    #quotesContainer {
        margin-top: 170px;
    }

    .tags {
        margin: 1%;
    }

    #tagsContainer {
        top: 12%;
    }

    .extraText {
        padding-left: 2%;
    }

    #share {
        justify-content: space-evenly;
    }

} 